.sports-slider {
  padding: 20px;
  text-align: center;
}

.sport-card {
  position: relative;
  cursor: pointer;
}

.sport-card img {
  width: 600px;
  height: 350px;
  border-radius: 10px;
}

.sport-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 60px;
  color: white;
  background-color: rgba(11, 11, 11, 0.664);
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 2rem;
}
