@import "tailwindcss";
* {
  padding: 20;
  margin: 0;
}

.app {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #1e1e2f;
  min-height: 100vh;
  padding: 20px;
}
body {
  background-color: #1e1e2f;
  color: white;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2a3d; /* Match panel bg */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #af440b; /* Yellow or themed */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fbbf24; /* Lighter yellow on hover */
}
